@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu&display=swap');
/*Alt + Z*/

/*Globals*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body a{
    text-decoration: none;
}

body{
    color:#2c1507;
    font-family: 'Ubuntu', sans-serif;
    /*background: linear-gradient(rgba(255, 250, 240, 0.83), rgba(255,250,240,0.83)), url(../ExtraDocs/background.jpg);*/
    background-color: floralwhite;
    display: flex;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.areas{
    /*margin: 20px;*/
    margin-top: 80px;
    width: 100%;
}

h2{
    padding: 20px;
    font-size: 30px;
}

.bar{
    display: flex;
    justify-content: space-between;
}

/*Informe*/
.informe{
    margin: 20px;
    font-size: 20px;
}

.informe h3{
    font-size: 20px;
}

.informe i, p, h4{
    padding: 5px;
    padding-left: 0;
}

#chat{
    color: tomato;
}

.mapa{
    position: absolute;
    display: flex;
    right: 20px;
    top: 100px;
    width: 500px;
    max-width: 91%;
    height: 300px;
    max-height: 100vh;
}

/*Responsive*/
@media screen and (max-width: 920px){
    .mapa{
        transform: translateY(50px);
        height: 50vh;
        left: 20px;
        width: 100%;
    }
    .informe{
        transform: translateY(350px);
        width: 100%;
    }
}

/*Responsive*/
@media screen and (max-width: 920px){
    .informe{
        transform: translateY(450px);
        width: 100%;
    }
}
@media screen and (max-width: 450px){
    .mapa{
        transform: translateY(50px);
        height: 80vh;
        right: 0px;
        width: 100%;
    }
    .informe{
        transform: translateY(720px);
        width: 100%;
    }
}