@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu&display=swap');
/*Alt + Z*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    color:#2c1507;
    font-family: 'Ubuntu', sans-serif;
    background: floralwhite;
    display: flex;
    min-height: 100vh;
}

/*barra de navegación 2.0*/
.header{
    background-color: #84b295;
    height: 80px;
    border-bottom: 5px solid #428347;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav{
    display: flex;
    justify-content: space-between;
    /*justify-content: right;*/
}

.logo{
    width: 170px;
    object-fit: cover;
    transition: background-color 500ms;
    /*color:#fffaf0;*/
    filter: invert(100%) sepia(28%) saturate(1220%) hue-rotate(345deg) brightness(170%) contrast(113%);
}

.SpBtns{
    display: none;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #f0f8ff;
    background-color: #84b295;
    border: 0px;
    border-bottom: 5px solid #3d8044;
    font-size: 20px;
    cursor: pointer;
}
.SpBtns:hover{
    background-color: #3d8044;
}

.nav-link{
    color: #f0f8ff;
}

nav ul li:hover{
    background-color: #428347;
}

#register{
    background-color: #428347;
}
#register:hover{
    background-color: #2a6b30;
}

#regSpBtns{
    background-color: #428347;
}
#regSpBtns:hover{
    background-color: #2a6b30;
}

.moveBars{
    transform: rotate(180deg);
    transition: all 500ms ease;
}

.resetBars{
    transform: rotate(0deg);
    transition: all 500ms ease;
}

.nav-menu{
    display: flex;
    list-style: none;
}

.nav-menu-item{
    font-size: 20px;
    padding: 10px 20px;
    line-height: 55px;
    width: max-content;
    color: floralwhite;
    cursor: pointer;
}

.nav-toggle{
    color:floralwhite;
    background: none;
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

.btns{
    display: flex;
}

/*Responsive*/
@media screen and (max-width: 1920px){
    #navList{
        display: flex;
    }
}
@media screen and (max-width: 1384px){   /*843 y 960*/
    #navList{
        display: none;
    }
    /*.grid{
        background-color: aqua;
    }*/
    .header{
        color: floralwhite;
    }
    .SpBtns{
        display: block;
    }
    .liSpBtns{
        display: none;
    }
    .nav-toggle{
        display: block;
        height: 80px;
        padding: 10px 20px;
        cursor: pointer;
        position: relative;
    }   
    .nav-toggle:hover{
        background-color: #428347;
    } 
    .nav-menu{
        flex-direction: column;
        background-color: #428347;
        top: 80px;
        width: 50%;
        overflow-y: auto;
        transition: left 0.3s;
        /*margin-top: 80px;*/
        position: absolute;
        right: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.527);
    }
    .nav-menu-item{
        font-size: 20px;
        padding: 10px 20px;
        line-height: 55px;
        width: 100%;
        color: floralwhite;
        cursor: pointer;
    }
    nav ul li:hover{
        background-color: #84b295;
    }
}

@media screen and (max-width: 850px){
    .textContent{
        font-size: 13px;
    }
    .socialMedia{
        font-size: 13px;
    }
}

@media screen and (max-width: 686px){
    .grid{
        /*background-color: hotpink;*/
        height: 75vh;
    }
    .nav{
        margin-bottom: 10%;
    }
    .grid_title{
        font-size: 3rem;
    }
    .grid_texts{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 625px){
    .textContent{
        font-size: 11.5px;
    }
    .socialMedia{
        font-size: 11.5px;
    }
}

@media screen and (max-width: 610px){
    .grid{
        /*background-color: slateblue;*/
        width: 100%;
        height: 65vh;
    }
    .grid_title{
        font-size: 2rem;
    }
    .grid_texts{
        font-size: 0.5rem;
    }
    .footer{
        grid-row: 14/-1;
        grid-column: 1/-1;
        background-color: black;
        width: 100%;
    }
}

/*@media screen and (max-width: 599px){

}*/

@media screen and (max-width: 497px){
    .SpBtns{
        /*font-size: 15px;*/
        display: none;
    }
    .liSpBtns{
        display: block;
    }
    #register{
        background-color: #2a6b30;
    }
    #register:hover{
        background-color: #84b295;
    }
}

@media screen and (max-width: 364px){
    .footer{
        grid-row: 13/-1;
    }
}

/*grid*/
.grid{
    /*height: 85vh;*/
    height: 105vh;
    width: 100%;
    /*max-width: 1200px;*/
    margin: auto;
    margin-top: 100px;
    /*box-shadow: 0 0 30px -10px rgba(138, 135, 125, 0.5);*/
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(15, 1fr);
    overflow: hidden;
    z-index: 0;
}

.square{
    grid-row: 1/2;
    grid-column: 1/-1;
    background: #f5deb3;
    display: flex;
    justify-content: space-between;
    /*justify-content: right;*/
}
 
.menuABC{
    display: flex;
    list-style: none;
}

.ABC{
    font-size: 20px;
    padding: 0px 20px;
    line-height: 55px;
    width: max-content;
    color: rgb(219, 79, 54);
    background-color: #f5deb3;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    justify-content: center;
    display: inline-flex;     /*Para poner más botones a la derecha RIP*/
    border: none;
    transition: .3s ease all;
    position: relative;
    overflow: hidden;
}
.ABC span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}
.ABC::after{
    content: "";
    width: 100%;
    height: 100%;
    background: #e7c991;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}
.ABC:hover::after{
    top: 0;
    transition: .3 ease-in-out all;
}

h1{
    margin: 20px;
}

#contenido{
    grid-row: 2/12;
    grid-column: 1/15;
    overflow-y: scroll;
    width: 100%;
}

.article{
    padding: 10px 20px 0px 20px;
}

.file{
    clip-path: circle(50% at 50% 50%);
    float: left;
    margin: 10px;
}

#view{
    font-size: 30px;
    float: right;
    position: relative;
    top: -52px;
    cursor: pointer;
    color: #2c1507;
}
#view:hover{
    color: #67432e;
}

.quitar{
    font-size: 30px;
    float: right;
    position: relative;
    top: -52px;
    cursor: pointer;
    color: #2c1507;
    transform: translateX(-20px);
}
.quitar:hover{
    color: #67432e;
}

.visQuitar{
    display: block;
}
.visQuitar2{
    display: none;
}

.other{
    grid-row: 12/-1;
    grid-column: 1/-1;
    background-color: floralwhite;
}

.footer{
    grid-row: 14/-1;
    grid-column: 1/-1;
    background-color: black;
    width: 100%;
}

.imgFtr{
    grid-row: 14/15;
    grid-column: 2/4;
    /*background-color: thistle;*/
}

.textContent{
    grid-row: 14/15;
    grid-column: -10/-5;
    align-self: center;
    /*background-color: thistle;*/
    color: floralwhite;
    list-style: none;
}

.socialMedia{
    grid-row: 14/15;
    grid-column: -4/-2;
    align-self: center;
    /*background-color: thistle;*/
    color: floralwhite;
    list-style: none;
}

.space{
    grid-column: 1/2;
    grid-row: 1/12;
    background-color: floralwhite;
}

.space2{
    grid-column: -2/-1;
    grid-row: 1/12;
    background-color: floralwhite;
}

.total{
    width: 90%;
    margin: 20px;
    position: absolute;
    transform: translateY(-70px);
}
.total p{
    font-size: 30px;
    /*color: rgb(79, 33, 26);*/
}
.total hr{
    border: 1px solid #2c1507;
}