@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu&display=swap');
/*Alt + Z*/

*{
    font-family: 'Ubuntu', sans-serif;
}

.cart{
    color:floralwhite;
    background: none;
    border: none;
    font-size: 30px;
    padding: 10px 20px;
    line-height: 60px;
    display: block;
    cursor: pointer;
}
.cart:hover{
    background-color: #428347;
}

@keyframes modal{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}
.newModal {        /* estilo del contenedor padre */
    position: absolute;
    min-width: 375px;
    z-index: 15;
    color: #5A5A5A;
    padding: 10px;
    font-size: 15px; 
}
#modal-back {       /* estilo del fondo */
    position: fixed;
    opacity: 0.8;
    z-index: 14;
    /*background: #00000053;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.newModal {        /* estilo de contenedor */
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
#modal-new {      /* estilo de subcontenedor */
    height: 100%;
    position: relative;
    background: #fff;
    -webkit-animation: modal 500ms ease 100ms backwards;
    animation: modal 500ms ease 100ms backwards;
    border-radius: 4px;
    -webkit-box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
}
.newModal h3 {     /* estilo de títulos */
    padding: 15px 0px;
    font-size: 20px; 
    text-align: center;
    border: none;
    border-bottom: 1px solid tomato;
}
.newModal span {       /* estilo de contenido */
    display: block;
    padding: 0px 19px 20px;
}
#modButtons {      /* estilo de botones */
    position: absolute;
    right: 0;
    bottom: 0;
    /*padding: 10px 7px;*/
}
#modButtons a{
    /*background-color: #428347; */
    color: snow;
    border: 1px;
    border-radius: 15px; 
    cursor: pointer;
    transition: background-color 500ms;
    margin: 5px 7px 5px;
    height: 100%;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}

form{
    margin: 0 20px 20px 20px;
}

.user{
    display: flex;
    justify-content: left;
    padding: 5px;
}

.file{
    clip-path: circle(50.3% at 50% 50%);
}

.image{
    /*background-color: aqua;*/
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 5px;
}

.productName{
    align-self: center;
    font-weight: bold;
    padding-right: 150px;
}

.quantity{
    color: #2c1507;
    font-size: 35px;
    cursor: pointer;
    align-self: center;
}

.quantityNum{
    color: #2c1507;
    font-size: 30px;
    padding: 5px 7px;
    align-self: center;
}

#close{
    font-size: 30px;
    color: #428347;
}

#buy{
    width: 100%;
    background-color: rgba(255, 99, 71, 0.232);
    padding: 10px;
    border-color: transparent;
    cursor: pointer;
    color: #2c1507;
    font-size: 15px;
}
#buyT{
    color: #2c1507;
    font-size: 15px;
}

form{
    margin-top: 20px;
}

.user .quitar{
    transform: translateY(85px);
}