/*Responsive*/
@media screen and (max-width: 1920px){
    #navList{
        display: flex;
    }
}
@media screen and (max-width: 1384px){   /*843 y 960*/
    #navList{
        display: none;
    }
    /*.grid{
        background-color: aqua;
    }*/
    .header{
        color: floralwhite;
    }
    .nav-toggle{
        display: block;
        height: 80px;
        padding: 10px 20px;
        cursor: pointer;
        position: relative;
    }   
    .nav-toggle:hover{
        background-color: #428347;
    } 
    .nav-menu{
        flex-direction: column;
        background-color: #428347;
        top: 80px;
        width: 50%;
        overflow-y: auto;
        transition: left 0.3s;
        /*margin-top: 80px;*/
        position: absolute;
        right: 0;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.527);
    }
    .nav-menu-item{
        font-size: 20px;
        padding: 10px 20px;
        line-height: 55px;
        width: 100%;
        color: floralwhite;
        cursor: pointer;
    }
    nav ul li:hover{
        background-color: #84b295;
    }
}

@media screen and (max-width: 850px){
    .textContent{
        font-size: 13px;
    }
    .socialMedia{
        font-size: 13px;
    }
}

@media screen and (max-width: 686px){
    .grid{
        /*background-color: hotpink;*/
        height: 75vh;
    }
    .nav{
        margin-bottom: 10%;
    }
    .grid_title{
        font-size: 3rem;
    }
    .grid_texts{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 625px){
    .textContent{
        font-size: 11.5px;
    }
    .socialMedia{
        font-size: 11.5px;
    }
}

@media screen and (max-width: 610px){
    .grid{
        /*background-color: slateblue;*/
        width: 100%;
        height: 65vh;
    }
    .grid_title{
        font-size: 2rem;
    }
    .grid_texts{
        font-size: 0.5rem;
    }
    .footer{
        grid-row: 14/-1;
        grid-column: 1/-1;
        background-color: black;
        width: 100%;
    }
}

/*@media screen and (max-width: 599px){

}*/

@media screen and (max-width: 497px){
    #register{
        background-color: #2a6b30;
    }
    #register:hover{
        background-color: #84b295;
    }
}

@media screen and (max-width: 390px){
    .footer{
        grid-row: 13/-1;
    }
    #publicacion{
        width: 100%;
        background-color: firebrick;
    }
}
