@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu&display=swap');
/*Alt + Z*/

*{
    font-family: 'Ubuntu', sans-serif;;
}

@keyframes modal{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}
.modal {        /* estilo del contenedor padre */
    position: absolute;
    max-width: 500px;
    z-index: 15;
    color: #5A5A5A;
    padding: 10px;
    font: 13px/140% «Open Sans», Helvetica, Arial, sans-serif;
}
#modal-back {       /* estilo del fondo */
    position: fixed;
    opacity: 0.8;z-index: 14;
    background: #000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.modal {        /* estilo de contenedor */
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
#modal-c {      /* estilo de subcontenedor */
    height: 100%;
    position: relative;
    background: #fff;
    -webkit-animation: modal 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 250ms backwards;
    animation: modal 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 250ms backwards;
    border-radius: 4px;
    -webkit-box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
}
.modal h3 {     /* estilo de títulos */
    padding: 15px 0px;
    text-align: center;
}
.modal span {       /* estilo de contenido */
    display: block;
    padding: 0px 19px 20px;
}
#buttons {      /* estilo de botones */
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3px 0px;
}
#buttons a{
    background-color: #428347; 
    color: snow;
    border: 1px;
    border-radius: 15px; 
    cursor: pointer;
    transition: background-color 500ms;
    margin: 5px 7px 5px;
    height: 100%;padding: 7px 15px;
    display: inline-block;
    text-decoration: none;
}